# Node.js dependencies
node_modules/
package-lock.json

# Playwright reports and test artifacts
allure-report
allure-results

# Environment variable
.env.production
.env.testing

# Storage state
sessions/storageState.json
testingState.json
sessions/

.idea