# Node.js dependencies
node_modules/

# Playwright reports and test artifacts
allure-report
allure-results
test-results
.DS_Store

# Environment variable
.env.production
.env.testing
.env.development

# Storage state
sessions/storageState.json
testingState.json
sessions/

.idea